@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec {
    height: 100vh;
    background: url(img/bg1.jpg) no-repeat center;
    background-size: cover;
    padding: 100px;
    position: relative;
    display: flex;
    transition: 0.5s;
}

.sec header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
}

.sec header img {
    width: 80px;
}

.sec .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec .content .textbox {
    width: 600px;
}

.sec .content .textbox p {
    color: #fff;
}

.sec .content .textbox a {
    display: inline-block;
    margin-top: 20px;
    color: #111;
    padding: 8px 20px;
    background: #fff;
    text-decoration: none;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.sec .content .textbox h2 {
    color: #fff;
    font-size: 4em;
    /* 1em=16px */
    font-weight: bold;
    text-transform: uppercase;
}

.sec .content .textbox h2 span {
    font-size: 2em;
}

.sec .content .imgBox {
    width: 600px; display: flex;
    justify-content: flex-end;
}

.sec .content .imgBox .pepsi {width: 260px; padding-right: 50px;
padding-top: 50px;}

.sec .content .txt {
    position: absolute;
    right: 10%;
    bottom: 10%;
}

.sec .content .txt .text1 {color: #fff; font-size: 80px; font-weight: bold;}

.sec .content .txt .text2 {color: #fff; font-weight: bold; font-size: 60px;}

.sec .content .thumb {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    float: left;
}

.sec .content .thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.5s;
    cursor: pointer;
}

.sec .content .thumb li img {
    width: 40px;
}

.sec .content .thumb li:hover {
    transform: translateY(-15px);
}